<% options = [['Ordernar por...', ''], ['A-Z', 'asc'], ['Z-A', 'desc']] %>
<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Books</h1>

  <%= form_with id: 'search', url: search_books_path, method: 'get', local: false, class: 'align-items-center' do %>
    <div class="row">
      <div class="col-5">
        <%= text_field_tag :q, params[:q], placeholder: 'Busque por título descrição ou autor', class: 'form-control' %>
      </div>

      <div class="col-3">
        <%= select_tag 'order_by', options_for_select(options, selected: '', disabled: ''), class: 'form-select' %>
      </div>
      <div class="col-auto">
        <%= submit_tag "Buscar", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <div id="books">
    <%= render 'books', books: @books %>
  </div>

  <br>

  <%= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>
</div>

