<% options = [['Ordernar por...', ''], ['A-Z', 'asc'], ['Z-A', 'desc']] %>

<div class="container">
  <h1>Livros</h1>
  <p id="notice"><%= notice %></p>
  <%= form_with id: 'search', url: search_books_path, method: 'get', local: false, class: 'align-items-center mb-3' do %>
    <div class="row">
      <div class="col-12 col-lg-5 mb-3">
        <%= text_field_tag :q, params[:q], placeholder: 'Busque por título descrição ou autor', class: 'form-control' %>
      </div>

      <div class="col-12 col-lg-3 mb-3">
        <%= select_tag 'order_by', options_for_select(options, selected: '', disabled: ''), class: 'form-select' %>
      </div>
      <div class="col-auto">
        <%= submit_tag "Buscar", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <div id="books">
    <%= render 'books', books: @books %>
  </div>

  <br>

  <%= link_to 'Novo Livro', new_book_path, class: 'btn btn-primary' %>
  <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
</div>

