<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row mt-3">
    <div class="col-6 mb-3">
      <%= label_tag :title, 'Título' %>
      <%= text_field :book, :title, value: @book.title, class: 'form-control', readonly: true %>
    </div>

    <div class="col-6 mb-3">
      <%= label_tag :description, 'Descrição' %>
      <%= text_field :book, :description, value: @book.description, class: 'form-control', readonly: true %>
    </div>

    <div class="col-6 mb-3">
      <%= label_tag :cover_url, 'Imagem da capa' %>
      <%= text_field :book, :cover_url, value: @book.cover_url, class: 'form-control', readonly: true %>
    </div>

    <div class="col-6 mb-3">
      <%= label_tag :author_name, 'Nome do autor' %>
      <%= text_field :book, :author_name, value: @book.author_name, class: 'form-control', readonly: true %>
    </div>

    <div class="actions">
      <%= link_to 'Editar', edit_book_path(@book), class: 'btn btn-primary' if policy(@book).edit? %>
      <%= link_to 'Voltar', books_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
